* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.profile {
   border-style: dashed;
   border-color: aliceblue;
   background-color: powderblue; 
   width: 300px;
   padding: 20px;
   border-radius: 15px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   text-align: center;
   transition: transform 0.3s ease-in-out;
}

.profile img {
   width: 100px;
   height: 100px;
   margin-bottom: 15px;
   object-fit: cover;
}

.name {
  font-size: 24px;
  font-weight: bold;
  color: white; 
  text-transform: uppercase;
  margin-bottom: 5px;
}

.grade {
  font-size: 18px;
  color: #fff; 
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  color: #fff;
  line-height: 1.6
}

.profile:hover {
  transform: scale(1.05);

}

